<nav class="navbar navbar-expand-lg navbar-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Collapsible wrapper -->
    <a class="title" routerLink="/home">Moe.dev</a>

    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarCenteredExample"
    >
      <!-- Left links -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            routerLink="/home"
            routerLinkActive="active"
            class="nav-link active"
            style="font-size: 18px; font-weight: bold; color: white"
            aria-current="page"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/about"
            routerLinkActive="active"
            class="nav-link"
            style="font-size: 18px; font-weight: bold; color: white"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/projects"
            class="nav-link"
            style="font-size: 18px; font-weight: bold; color: white"
            >Projects</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/contact"
            class="nav-link"
            style="font-size: 18px; font-weight: bold; color: white"
            >Contact</a
          >
        </li>
      </ul>
    </div>
    <a href="https://linkedin.com/in/mohamad-addasi/" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="https://github.com/Moe1177" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
  </div>
</nav>
