<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="pb-5">About <span class="gradient-text"> Me </span></h1>
      <p>
        I am a first year Software Engineering Student at Concordia University
        located in Montreal, Quebec .
        <br /><br />
        My coding passion was ignited in my last year of high school 🔥. This
        passion of mine continued evolving until the present day where I aspire
        becoming a Machine Learning Engineer (you know since AI is going to take
        my job anyways why not work with them) 🤖.
        <br /><br />
        As much as I want everyone to believe that I am programming 24/7, my 🌎
        does not revolve around coding. I am very family oriented and love
        having game nights with my family. I am a big Liverpool supporter ⚽ and
        spend a lot of time watching anime (make sure to contact me if you have
        any recommendations) 🦊.
      </p>
    </div>
    <div class="container" style="padding-bottom: 50px">
      <div class="row justify-content-center">
        <div class="col-md-6"></div>

        <div
          class="container"
          id="awards-container"
          style="padding-bottom: 125px; margin-top: 0"
        >
          <div class="row">
            <div class="col-md-6">
              <h2>Awards</h2>
              <p>
                I had the chance to participate in my first ever hackathon in
                January 2024. It was a great opportunity with others to work
                towards a common goal. Building a project we can all be proud
                of.
                <br /><br />
                I participated at McHacks 11 which is McGill University's
                biggest hackathon 🏫. I didn't know any of my amazing teammates
                before attending McHacks 11, but I am glad I did.
                <br /><br />
                Me and my team won 🥉 place at McHacks 11 by creating a Neural
                Network allowing people to learn sign language 👉. Click the
                button to know more about our project or check out our DevPost.
              </p>
              <a routerLink="/projects">
                <button>Check It Out</button>
              </a>
              <a
                href="https://devpost.com/software/fluentfingers"
                target="_blank"
              >
                <button class="devpost-button">DevPost</button>
              </a>
            </div>

            <div
              class="card"
              style="
                width: 18rem;
                height: 25rem;
                padding: 0;
                border: 2px solid rgb(87, 87, 87);
              "
            >
              <img
                class="card-img-top img-fluid"
                src="../assets/images/winner (8).jpg"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title text-dark fw-bold">LinkedIn post</h5>
                <p class="card-text text-dark" style="font-size: 14px">
                  Go check out this LinkedIn post made by one of my teammates
                  about our amazing experience.
                </p>
                <a
                  href="https://www.linkedin.com/feed/update/urn:li:activity:7159658629166473216/"
                  class="btn btn-primary"
                  target="_blank"
                  >Check Out</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="logos text-center mx-auto" style="padding-bottom: 125px">
    <h2 class="mb-3 text-align-center pb-3">My Tech Skills</h2>
    <div class="logos-slide" data-direction="right">
      <img src="../assets/logos/html5-without-wordmark-color-seeklogo.svg" />
      <img src="../assets/logos/css-3-seeklogo.svg" />
      <img src="../assets/logos/javascript-seeklogo.svg" />
      <img src="../assets/logos/angular-seeklogo.svg" />
      <img src="../assets/logos/bootstrap-5-seeklogo.svg" />
      <img src="../assets/logos/icons8-node-js.svg" />
      <img src="../assets/logos/python-seeklogo.svg" />
      <img src="../assets/logos/flask-seeklogo.svg" />
      <img src="../assets/logos/java-seeklogo.svg" />
    </div>
  </div>
</div>
