* {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: white;
}

/* home.component.css */
.container {
  margin-top: 150px;
}

h1 {
  font-size: 40px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 33px;
  font-weight: bold;
}

.gradient-text {
  background-image: linear-gradient(to right, violet, dodgerblue);
  background-clip: text;
  color: transparent;
}

p {
  font-size: 18px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.logos img {
  width: 50px;
}

.logos {
  max-width: 600px;
}

.logos-slide {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.logos[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.logos[data-animated="true"] .logos-slide {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

button {
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
  margin: 10px 5px;
}

button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 dodgerblue;
}

button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}

.btn-primary {
  background-color: transparent;
  color: #007bff;
  transition: 0.5s;
}

.btn-primary:hover {
  color: white;
  background-color: #007bff;
}


@media(max-width: 991px) {
  a button {
    font-size: 14px;
  }
}

@media(max-width: 768px) {
  .card {
    margin-top: 40px;
    margin-left: 10px;
  }
}