/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

* {
  box-sizing: border-box;
}

body {
  display: block;
  background: linear-gradient(
    to left,
    #5f5f5f,
    #000000
  ); /* Your gradient colors */
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}



