/* home.component.css */
:host {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: white;
}

.container {
  margin-top: 100px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.gradient-text {
  background-image: linear-gradient(to right, violet, dodgerblue);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

p {
  font-size: 1rem;
}

button {
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 dodgerblue;
}

button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}

.img-fluid {
  max-width: 100%;
}

a {
  margin-right: 10px;
}

a button i {
  font-size: 25px;
}

@media (max-width: 768px) {
  .container {
    margin-top: 100px;
  }

  h1 {
    font-size: 1.4rem;
  }

  p {
    font-size: 0.8rem;
  }

  button {
    font-size: 1.1rem;
    padding: 0.875rem 1.75rem;
  }
}
