/* home.component.css */
.container {
  margin-top: 150px;
}

h1 {
  font-size: 36px;
  color: white;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.gradient-text {
  background-image: linear-gradient(to right, violet, dodgerblue);
  background-clip: text;
  color: transparent;
}

p {
  font-size: 18px;
  color: white;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

button {
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 dodgerblue;
};

button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
};

.profile-picture {
    width: 150px;
    border-radius: 75px;
}
