<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>
        Welcome I'm <span class="gradient-text"> Mohamad Addasi </span> 👋
      </h1>
      <p style="margin-bottom: 25px">
        First Year Software Engineering Student 💻.
      </p>
      <p>
        You can discover my journey with into the world of coding by viewing the
        about me section or even better my projects 🚀. Don't forget to connect with me on LinkedIn.
      </p>
      <a href="https://github.com/Moe1177" style="margin-right: 10px">
        <button><i class="fa-brands fa-github" style="font-size: 25px;"></i></button>
      </a>
      <a href="https://linkedin.com/in/mohamad-addasi/">
        <button><i class="fa-brands fa-linkedin" style="font-size: 25px; color: #0072b1;"></i></button>
      </a>
    </div>
    <div class="col-md-6">
      <!-- Add an image or carousel here -->
      <img
        src="../assets/images/ProfilePicture.jpg"
        alt="Portfolio Image"
        style="border-radius: 70px"
      />
    </div>
  </div>
</div>
