/* home.component.css */
:host {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: white;
}


.container-lg {
  margin-top: 100px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.gradient-text {
  background-image: linear-gradient(to right, violet, dodgerblue);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

p {
  font-size: 1rem;
}

button {
  background-color: rgb(53, 53, 53);
  color: white;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid gray;
  box-shadow: 0 0 0 0 rgb(0, 0, 0);
}

.download-text {
  background-color: white;
  color: black;
}

button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 dodgerblue;
}

button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}

.img-fluid {
  max-width: 100%;
}

a {
  margin-right: 10px;
}

a button i {
  font-size: 25px;
}

@media only screen and (max-width: 768px) {
  .container {
    margin-top: 100px;
  }

  h1 {
    font-size: 1.4rem;
  }

  p {
    font-size: 0.8rem;
    display: inline-block;
  }

  button {
    font-size: 1.1rem;
    padding: 0.85rem 1.55rem;
  }

  img {
    text-align: center;
  }
}

@media(max-width: 991px) {
  a button {
    font-size: 13px;
  }

  a button i {
    font-size: 20px;
  }
}

@media(max-width: 358px) {
  a button {
    font-size: 12px;
  }

  a button i {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1440px) {
  p {
    font-size: 1.25rem;
    margin-bottom: 35px;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 35px;
  }
  
}